<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_EMAIL_LINK_URL</key>
	<string>https://auritails.firebaseapp.com/</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>AuriTails uses the microphone when you choose to dictate a Pet Speak phrase.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>AuriTails uses speech recognition when you choose to turn your voice into text for Pet Speak.</string>
	<key>UILaunchScreen</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
</dict>
</plist>
